<nav class="an-nav">
    <div>
        <h2>Automobile Parking Information Hub</h2>
    </div>

    <div class="an-links">
        <!-- <a href="/">Home</a> -->
        <a href="/booking">Booking</a>
        <a href="/status">Status</a>
        <a href="/slots">Slot Register</a>
        <a href="/parking">Parking List</a>
        <a href="/checkout">Checkout</a>
        <a id="btn-logout" href="javascript:void(0);">Logout</a>
        <div class="an-search" style="margin-left: 5px;">
            <input style="padding: 6px;" type="text" name="" id="" placeholder="Search">
        </div>
    </div>

</nav>